---
// Video loader
const R2_BASE = import.meta.env.PUBLIC_R2_URL;
---

<div id="page-loader">
  <video
    muted={true}
    autoplay={true}
    loop={true}
    playsinline={true}
    x-webkit-playsinline={true}
    preload="auto"
    class="absolute inset-0 w-full h-full object-cover object-top"
  >
    <source src={`${R2_BASE}/videos/logo.mp4`} type="video/mp4" />
  </video>
</div>

<style>
  #page-loader {
    position: fixed;
    inset: 0;
    z-index: 9999;
    background: #003b46;
  }
</style>