---
interface Props {
  content: {
    image:string;
    title:string
    description:string;
    list :string[]
  }[],
  animationUp?:boolean
}
const { content,animationUp } = Astro.props as Props;
const AmountItems = content.length
---

<div class={`w-full grid ${AmountItems > 2 ? 'grid-cols-1 md:grid-cols-3 pb-16 xl:pb-0' : 'grid-cols-1 md:grid-cols-2'}  justify-center items-start gap-6 `}>
      {
        content.map((item,index)=>( 
          <div 
            class={`js-example-item flex flex-col justify-center items-start ${AmountItems > 2 ? 'gap-4 ' : 'gap-6'} ${animationUp ? 'animation-up-fast' : ''}`}
            style={animationUp ? `animation-delay: ${index * 200}ms;` : ''}
          >
            <div class="w-full h-auto relative" style="aspect-ratio: 628/414;">
              <img 
                class="w-full h-full object-cover object-center absolute inset-0" 
                src={`/images/${item.image}.webp`} 
                alt={item.title} 
                width="628" 
                height="414" 
                decoding="async" 
                loading="lazy" 
              />
            </div>
            <h3 class="text-primary subtitle-dark uppercase">
              {item.title}
            </h3>
            <p set:html={item.description} class="text-paragraph paragraph"></p>
            {
              item.list.length > 0 && (
                <ul class="flex flex-col justify-start items-start gap-2">
                    {
                      item.list.map((feature) => (
                        <li class="text-paragraph paragraph list-disc list-inside">
                          {feature}
                        </li>
                      ))
                    }
                </ul>
              )
            }
            
          </div>
        ))
      }
    </div>