---
import Button from "../components/Button.astro";

type Translations = typeof import("../i18n/en").default;
type HeroContent = Translations["main"]["hero"];
interface Props {
  content: HeroContent;
}
const { content } = Astro.props as Props;
const R2_BASE = import.meta.env.PUBLIC_R2_URL;
---
<section data-hero-section data-scroll-snap class="relative flex w-full h-screen justify-center items-end hero-main-section overflow-hidden">
  <div class="hero-main-image absolute w-full h-full inset-0 pointer-events-none">
    <video
      data-video
      muted={true}
      loop={true}
      playsinline={true}
      x-webkit-playsinline={true}
      preload="auto"
      controlslist="nodownload no remoteplayback" 
      disablepictureinpicture 
      oncontextmenu="return false;"
      class="absolute inset-0 w-full h-full object-cover object-top"
    >
      <source src={`${R2_BASE}/videos/Home.mp4`} type="video/mp4" />
    </video>
  </div>
  
  <div class="container-full pb-10 md:pb-8 3xl:pb-12 z-10  flex flex-col justify-between items-start h-full pt-(--header-height)">
    <img src="/images/license.webp" alt="License" class="w-auto h-20 lg:h-[100px] mt-5" width="237" height="100" decoding="async" loading="eager"/>
    <div class="flex flex-col justify-end items-start  gap-6 md:gap-4">
      <h1 class="text-[36px] md:text-[64px] font-extrabold leading-[110%] md:leading-[100%] text-white uppercase" set:html={content.title}></h1>
      <p class="text-[17px] md:text-[24px] font-bold leading-[120%] md:leading-[150%] uppercase text-white" set:html={content.subtitle}></p>
      <Button
        text={content.button.label}
        href={content.button.href}
        textClass="text-[17px]"
        extraBtnClass="w-full md:w-auto"
      />
    </div>
  </div>
</section>

<script>
  // Esta función inicializa CADA componente Hero de manera aislada
  function initHeroComponents() {
    const sections = document.querySelectorAll('[data-hero-section]');

    sections.forEach((section) => {
      const video = section.querySelector('[data-video]') as HTMLVideoElement;

      if (video) {
        // Asegurar que el video empiece pausado
        video.pause();

        const playVideo = () => {
          video.play().catch(err => console.log("Error de reproducción:", err));
        };

        // Escuchar el evento personalizado de carga/animación completada
        document.addEventListener('loader-complete', playVideo);

        // Fallback: si el loader ya no existe en el DOM, reproducir inmediatamente
        const loader = document.getElementById('page-loader');
        if (!loader) {
          playVideo();
        }
      }
    });
  }

  // 1. Se ejecuta en la carga inicial de la página
  initHeroComponents();

  // 2. Se ejecuta si usas ClientRouter/ViewTransitions de Astro al cambiar de página
  document.addEventListener('astro:page-load', initHeroComponents);
</script>