---
import Button from "../components/Button.astro";

type Translations = typeof import("../i18n/en").default;
type HeroContent = Translations["main"]["hero"];
interface Props {
  content: HeroContent;
}
const { content } = Astro.props as Props;
---
<section data-scroll-snap class="relative flex w-full h-screen justify-center items-center hero-main-section overflow-hidden">
  {/* <img src="/images/hero-main.webp" alt="Hero Image" width="2500" height="1563" class="hero-main-image object-cover z-0 pointer-events-none" decoding="async" loading="eager"/>*/}
  <div class="hero-main-image absolute w-full h-full inset-0 pointer-events-none">
    <img 
      id="hero-poster" 
      src="/images/hero-main.webp" 
      alt="Hero Background" 
      class="absolute inset-0 w-full h-full object-cover z-10 transition-opacity duration-300"
    />

    <video
      id="hero-video"
      muted={true}
      loop={true}
      playsinline={true}
      x-webkit-playsinline={true}
      preload="auto"
      class="absolute inset-0 w-full h-full object-cover opacity-0 z-0 transition-opacity duration-300"
    >
      <source src="/images/video.mp4" type="video/mp4" />
    </video>
  </div>
  
  <div class="container-full flex flex-col justify-end items-start py-10 md:py-12 z-10 h-full gap-6 md:gap-4">
    <h1 class="text-[36px] md:text-[72px] font-extrabold leading-[110%] md:leading-[100%] text-white uppercase" set:html={content.title}></h1>
    <p class="text-[17px] md:text-[24px] font-bold leading-[120%] md:leading-[150%] uppercase text-white" set:html={content.subtitle}></p>
    <Button
      text={content.button.label}
      href={content.button.href}
      textClass="text-[17px]"
      extraBtnClass="w-full md:w-auto"
    />
  </div>
</section>

<script is:inline>
  const container = document.querySelector('.hero-main-image');
  const video = document.getElementById('hero-video');
  const poster = document.getElementById('hero-poster');

  if (container && video && poster) {
    container.addEventListener('animationend', (e) => {
      if (e.animationName === 'heroExpandFullscreen') {
        
        // 1. Iniciamos el video
        video.play().then(() => {
          // 2. Cuando el video empiece a reproducirse con éxito, hacemos el intercambio
          video.classList.remove('opacity-0');
          video.classList.add('opacity-100');
          
          poster.classList.remove('opacity-100');
          poster.classList.add('opacity-0');
          
          container.style.zIndex = "0";
        }).catch(err => console.log("Error de reproducción:", err));

      }
    });
  }
</script>