---
import Button from "../components/Button.astro";
import type { Language } from '../types/language.type';
type Translations = typeof import("../i18n/en").default;
type ServicesContent = Translations["main"]["services"];
interface Props {
  content: ServicesContent;
}
const { content } = Astro.props as Props;
const colorContent = [
  {
    box:'bg-accent',
    textTitle:'text-white',
    textDescription:'text-white',
    textButton:'text-white',
    background:'bg-transparent hover:bg-primary/90'
  },
  {
    box:'bg-primary',
    textTitle:'text-white',
    textDescription:'text-white',
    textButton:'text-white',
    background:'bg-transparent hover:bg-accent/90'
  },
  {
    box:'bg-accent',
    textTitle:'text-white',
    textDescription:'text-white',
    textButton:'text-white',
    background:'bg-transparent hover:bg-secondary/90'
  },
  {
    box:'bg-primary',
    textTitle:'text-primary',
    textDescription:'text-paragraph',
    textButton:'text-paragraph',
    background:'bg-transparent hover:bg-white/90'
  },
  {
    box:'bg-accent',
    textTitle:'text-white',
    textDescription:'text-white',
    textButton:'text-white',
    background:'bg-transparent hover:bg-black/90'
  },
  {
    box:'bg-white',
    textTitle:'text-white',
    textDescription:'text-white',
    textButton:'text-white',
    background:'bg-transparent hover:bg-primary/90'
  }
]
const lang = Astro.params.lang as Language;
---
<section class="relative w-full h-screen overflow-hidden">
  <img src='/images/services.webp' class="w-full h-full absolute object-cover object-[50%_80%] inset-0" width="2100" height="1313" decoding="async" loading="lazy"/>
  <div class="absolute w-full h-full bg-black/30"></div>
  <div class="w-full h-full grid grid-cols-4 grid-rows-2 justify-center items-center relative">
    <div class="col-span-2 h-full p-20 flex flex-col justify-center items-start gap-6 text-white">
      <h2 class="title">
        {content.title}
      </h2>
      <p class="text-[20px] font-paragraph leading-[150%] font-normal" set:html={content.description}>
      </p>
      <Button
        text={content.button.label}
        href={content.button.href}
        textClass="text-[19x]"
      />
    </div>
    {
      content.items.map((item,index)=>( 
        <div class={`w-full h-full flex flex-col hover:justify-between hover:items-start items-end justify-end py-20 px-10 border border-white/25 group ${colorContent[index].background} transition-all duration-300 ease-in-out cursor-pointer`}>
          <div class="group-hover:flex flex-col justify-center items-start gap-6 hidden transition-all duration-300 ease-in-out opacity-0 group-hover:opacity-100">
            <div class={`w-3 h-3 ${colorContent[index].box }`}></div>
            <h3 class={`text-[40px] font-paragraph font-bold leading-[110%] ${colorContent[index].textTitle}`}>{item.title}</h3>
            <p class={`${colorContent[index].textDescription} paragraph`}>{item.description}</p>
          </div>
          <a href={`/${lang}/services${item.button.href}`} class={`paragraph-bold ${colorContent[index].textButton} button-decoration hidden group-hover:inline-block transition-all duration-300 ease-in-out opacity-0 group-hover:opacity-100`}>
            {item.button.label}
          </a>
          <p class="text-[20px] font-paragraph leading-[150%] font-normal group-hover:hidden transition-all duration-300 ease-in-out text-white opacity-100 group-hover:opacity-0">
            {item.first}
          </p>
        </div>
      ))
    }
  </div>
</section>